<form class="container card " [formGroup]="form" style=" margin: 5% auto; ">
  <h2 class="mb-4">Calcular promedio semestre</h2>
  <ng-container formArrayName="materias">

    <ng-container *ngFor="let item of materias.controls; let i = index">
      <div class="row m-2" [formGroupName]="i">
        <div class="col">
          <div class="mb-3 row">
            <label for="materia" class="col-sm-4 col-form-label">Materia</label>
            <div class="col-sm-8">
              <input class="form-control" id="materia" formControlName="materia" >
              <span style="font-size: 80%; color: #dc3545;">
                <span *ngIf="item.get('materia')?.errors">
                  Este campo es requerido
                </span>
              </span>
            </div>
            
          </div>
        </div>

        <div class="col">
          <div class="mb-3 row">
            <label for="nota" class="col-sm-4 col-form-label">Nota</label>
            <div class="col-sm-8">
              <input class="form-control" id="nota" formControlName="nota">
              <span style="font-size: 80%; color: #dc3545;">
                <span *ngIf="item.get('nota')?.errors">
                  Este campo es requerido
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="mb-3 row">
            <label for="creditos" class="col-sm-4 col-form-label">Creditos</label>
            <div class="col-sm-8">
              <input class="form-control" id="creditos" formControlName="creditos" >
              <span style="font-size: 80%; color: #dc3545;">
                <span *ngIf="item.get('nota')?.errors">
                  Este campo es requerido
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="col">

          <button class="btn btn-default" (click)="eliminarMateria(i)">
            <i class="iconify" data-icon="uil:trash-alt" data-width="23" data-height="23" ></i>
          </button>
        </div>

      </div>
    </ng-container>

  </ng-container>

  <div class="row">

    <div class="col-3">

    </div>

    <div class="col-3">
      <button type="button" (click)="adicionarMateria()" class="btn btn-secondary" >Agregar Materia</button>
    </div>
    <div class="col-3">
      <button type="button" (click)="obtenerPromedio()" class="btn btn-secondary" [disabled]="form.invalid || materias.length === 0">Promedio ponderado</button>
    </div>

    <div class="col-3">

    </div>
  </div>

</form>

